html, body {
  margin: 0;
  padding: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.header {
  background-color: #333333;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.jumbotron {
  background: url('images/background.jpg');
  background-size: 100% 1000px;
  background-repeat: no-repeat;
  height: 600px;
}
.middle {
  background: url('images/tower.jpg') #aaa no-repeat;
  background-position: left;
  background-size: 1500px 1000px;
  background-blend-mode: overlay;
  height: 500px;
}
.nav {
  margin: 0;
  padding: 20px 0;
}
.nav li {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 21px 15px;
  font-size: 13px;
  display: inline;
  margin: -2px;
  transition: background 0.5s ease;
}
.nav li:hover {
  background: #999;
}
.main {
  position: relative;
  top: 180px;
  text-align: center;
  color: #333;
  font-family: 'Raleway', sans-serif;
}
.main h1 {
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.main p {
  color: #333;
  font-size: 30px;
  font-style: italic;
}
.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: 0.5s ease;
}
.btn-main:hover {
  background-color: #666;
  border: 2px solid #333;
}
.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}
.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 5%;
}
.supporting img {
  height: 32px;
}
.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}
.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}
.supporting a {
  color: #333;
  padding: 10px 15px;
  background: #fff;
  border: 2px solid #333333;
  transition: 0.5s ease;
  text-transform: uppercase;
  font-weight: 600;
}
.supporting a:hover {
  color: #fff;
  background: #666;
}
.website {
  text-align: center;
  outline: 3px solid #666;
  outline-style: outset;
  width: 210px;
  height: 250px;
  margin: 0 auto;
}
.website h2 {
  color: #999;
  position: relative;
  top: 90px;
}
.people {
  background: url('http://freeiconbox.com/icon/256/18148.png') center;
  margin-left: 50px;
  width: 210px;
  height: 250px;
}
form {
  margin: 15px;
  color: #333;
  font-family: 'Raleway', sans-serif;
}
input[type="text"] {
  width: 350px;
  height: 30px;
  outline: none;
}
input[type="submit"] {
  color: #fff;
  font-weight: bold;
  width: 100px;
  height: 40px;
  font-size: 23px;
  border: 2px solid transparent;
  transition: 0.5s;
  background: #333;
  margin-top: 5px;
}
textarea {
  resize: none;
  width: 500px;
  height: 200px;
  outline: none;
}
input[type="text"], textarea {
  /*border: 5px solid #ccc;*/
  font-size: 20px;
  border: none;
  border: 5px solid #ccc;
  transition: 0.5s ease;
}
input[type="text"]:focus, textarea:focus {
  border: 5px solid #000;
}
input[type="submit"]:hover, input[type="submit"]:focus {
  color: #fff;
  background: #999;
  border: 2px solid #000;
}
.contact span {
  color: #f00;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  margin-left: 10px;
}
.contact img {
  margin-bottom: -15px;
  border-bottom: 5px solid transparent;
}
.status {
  color: #33DD33;
  text-align: center;
  display: none;
}
.clearfix {
  clear: both;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}
.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
}
.footer a {
  color: #07c4e0;
}
.footer a:hover {
  color: #0ff;
}
@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }
  .main h1 span {
    margin-left: -20px;
  }
  .main p {
    font-size: 25px;
  }
  .supporting .col {
    width: 100%;
  }
  .middle h1 {
    font-size: 50px;
  }
  input[type="text"], textarea {
    width: 360px;
  }
}
@media (max-width: 320px) {
  .main h1 span {
    margin-left: -40px;
  }
  .supporting .col {
    width: 100%;
  }
  .middle h1 {
    font-size: 45px;
  }
  input[type="text"], textarea {
    width: 270px;
  }
}
